@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::after,
*::before,
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}  


body{
    font-family: 'Times New Roman', Times, serif !important;
    background-color: #d1bcc0 !important;
    display: inline; 
    margin: 0 auto !important;
    max-width: 1200px !important;
    font-family: 'Lato';
    color: #333;
}

.h1,h1{
    
    font-size: 50px !important;
    padding: 30px !important;
    line-height: 10vh !important;
    color: #FFFFFF !important;
    background-color: #d1bcc0  !important;
    border-bottom: 1px solid rgb(252, 249, 249) !important;
    margin: 50px;
}

.h2,h2{
    padding: 2% !important;
}

p{
    color: #000000;
}

.navbar{
    border-bottom: 1px solid rgb(252, 249, 249) !important;
}

.product {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #808080; 
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-right: 20px;
}

.product-details {
    flex: 1;
}

.product-details h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff; 
}

.product-details p {
    margin: 0;
    color: #000000; 
}

.total {
    margin-top: 20px;
    text-align: right;
    color: #000; 
}

.total span {
    font-weight: bold;
    color: #000; 
    font-size: 1.8rem;
}

.content-carrito-icon{
    width: 80px;
    height: 80px;
    ALIGN-CONTENT: space-evenly;
}

.list-inline-item {
    font-size: 20px;
    color: #ffffff;
    margin-right: 5px;
}


.pagar{
    width: 30%;
    font-size: 1.5rem !important;
    
}


.btn-success{
    background-color: #000 !important;
    border: none !important;
    font-size: 1.5rem !important; 
}

.limpiar-carrito{
    background-color: #ff0000 !important;
    border: none !important;
    margin: 1vw ;
}

.totales-carrito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2vw;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 10px;
    justify-content:center;
    gap: 10px;
}

.form-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    border-top: 1px solid #ffffff;
    color: #ffffff;
    
}

.campo{ 
    display: flex ;
    padding: 20px 50px;
    width: 45vh;
    align-items: center;
    height: 8vh;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    outline: none;
    color: #000;
    
}

.campo::placeholder{
    color:#dcd4d4;
  
}


.btn-2{
   display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #cda0a8;
    color: #FFFFFF;
    border-radius: 25px;
    border: 0;
    font-family: 'Bebas Neve', cursive;
    cursor: pointer;
}

.btn-2:hover{
    background-color: #000;
}

.error{
    color: red;
}

.link{
    width: 30%;
}

.link-img{
    text-align: center;
}

.link-img img{
    width: 70px;
    margin-bottom: 10px;
}

.socials-2 img{
    width: 50px;
    margin: 10px;
}

.link h3{
    font-size: 22px;
    color: #000;
    margin-bottom:  15px;
}

.link a{
    font-size: 18px;
    display: flex;
    color: #000;
    margin-bottom: 20px;
}

.link a:hover{
    color: #bb7373;
}

.footer{
    border-top: 2px solid #E8E8E8;
    padding: 50px 0 0 0 ;
    display: flex;
    justify-content: center;
    background-color: #f0efeb;
}

.footer-copy{
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #918a8a;
}

.footer-copy p{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.iconos-redes {
    list-style-type: none;
    padding: 0;
}


.iconos-redes img{
    list-style-type: none;
    padding: 0;
    width: 70px;
    height: auto;
}

.iconos-redes li {
    display: inline-block;
    margin-right: 10px;
}

.iconos-redes a {
    color: #ffffff;
    font-size: 25px;
}

.logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.footer-description {
    margin-bottom: 20px;
}

@media(max-width:992px) {
    .carro{
        position: initial;

    }
}