@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif !important;
    display: inline;
    background-color: #d1bcc0 !important;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
    border-bottom: 1px solid rgb(249, 245, 245);
}


.header{
    color: #FFFFFF;
    margin: 15px;
}


.navbar{
    border: 1px solid #FFFFFF;
}


.h1,h1{
    color: #ffffff !important;
    padding: 2%;
    border-top: 1px solid #FFFFFF !important;
}

.h2,h2{
    color: #FFFFFF !important;
}

.h5,h5{
    color: #000;
}

.h7,h7{
    font-family: 'Times New Roman', Times, serif !important;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0;
    font-size: 38px;
    margin: 15px;
}



.btn-2{
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #000;
    color: #FFFFFF;
    border-radius: 25px;
    border: 0;
    font-family: 'Bebas Neve', cursive;
    cursor: pointer;
    margin: 0px 20%;
}

.btn-2:hover{
    background-color: azure;
}



.card-body{
    display: grid !important;
}

.campo{
    
    padding: 17px 35px;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin-right: 15px;
    border: 1px solid #FFFFFF;
    outline: none;
    color: #000;
    width: 45%;
}
  
.campo::placeholder{
    color:#dcd4d4;
}


.form-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    border-top: 1px solid #ffffff;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    gap: 10px;
}



.footer{
    border-top: 2px solid #E8E8E8;
    padding: 50px 0 0 0 ;
    display: flex;
    justify-content: center;
    background-color: #f0efeb;
}



.mx-5{
    padding: 5% !important;
    border-top: 1px solid #ffffff !important;
}

.col {
    
    padding: 1%;
}



.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link{
    width: 30%;
}

.link-img{
    text-align: center;
}

.link-img img{
    width: 70px;
    margin-bottom: 10px;
}

.socials-2 img{
    width: 50px;
    margin: 10px;
}

.link h3{
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}

.link a{
    font-size: 18px;
    display: flex;
    color: #000;
    margin-bottom: 20px;
}

.link a:hover{
    color: #FFFFFF;
}

.footer-copy{
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #918a8a;
}

.footer-copy p{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}


