@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::after,
*::before,
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 


body{
    font-family: 'Times New Roman', Times, serif !important;
    background-color: #d0c4c4 !important;
    display: inline; 
    margin: 0 auto !important;
    max-width: 1200px !important;
    font-family: 'Lato';
    color: #333;
}


p{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 20px !important;
    color: #FFFFFF !important;
}



.h1,h1{
    
    font-size: 50px !important;
    line-height: 10vh !important;
    color: #FFFFFF !important;
    background-color: #a29090 !important;
    border-bottom: 3px solid rgb(252, 249, 249);
}

.h5,h5{
    color: #000;
}



.navbar{
    border: 3px solid #FFFFFF;
}



.content-carro{
    align-items: center !important;
    text-align: center !important;
    padding: 20% !important;
}

.content-carrito-icon{
    width: 80px;
    height: 80px;
}



.custom-modal-btn {
    background-color: #a29090 !important;
    border-color: #FFFFFF !important; 
}

.modal-header{
    background-color: #a29090;
    color: #FFFFFF;
}

.modal-body{
    background-color: #a29090;
    color: #FFFFFF;
}

.modal-footer{
    background-color: #a29090 !important;
}



.container-titulo{
    min-height: 8vh;
    align-items: center;
    text-align: center;
    width: auto;
}

.contenedor{
    display: flex;
    text-align: center;
    align-items: center;
}

.contenedor>p{
    padding: 5%;
}



form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    gap: 10px;
    padding: 5%;
}

.form-content{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    border-top: 1px solid #FFFFFF;
}

img{
    max-width: 100%;
}
 


.campo{ 
  padding: 17px 35px;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-right: 15px;
  border: 1px solid #FFFFFF;
  outline: none;
  color: #000;
  width: 45%;
}

.campo::placeholder{
    color:#dcd4d4;
}



.btn-2{
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #000;
    color: #FFFFFF;
    border-radius: 25px;
    border: 0;
    font-family: 'Bebas Neve', cursive;
    cursor: pointer;
    margin: 0px 20%;
}

.btn-2:hover{
    background-color: azure;
}




.footer{
    border-top: 2px solid #E8E8E8;
    padding: 50px 0 0 0 ;
    display: flex;
    justify-content: center;
    background-color: #f0efeb;
}

.footer-copy{
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #918a8a;
}

.footer-copy p{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




.link{
    width: 30%;
}

.link-img{
    text-align: center;
    width: 90%;
}

.socials-2 img{
    width: 50px;
    margin: 10px;
}

.link h3{
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}

.link a{
    font-size: 18px;
    display: flex;
    color: #000;
    margin-bottom: 20px;
}

.link a:hover{
    color: #FFFFFF;
}



.btn-primary2{
    background-color: white !important ; 
    color: #000 !important;
    border: none !important;
}



@media (max-width: 768px) {  
    .carousel-inner {
        width: 100%;  
         
    }
}

@media (min-width: 992px) {  
    .carousel-inner {
        width: 80%;  
        height: 50vh;  
    }
}




