
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::after,
*::before,
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Times New Roman', Times, serif !important;
    background-color: #ebd4da !important;
    display: inline; 
    margin: 0 auto !important;
    max-width: 1200px !important;
    font-family: 'Lato';
    color: #333;
}

p{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 20px !important;
    color: #ffff !important;
}



.h1,h1{

    font-size: 50px !important;
    line-height: 10vh !important;
    color: #FFFFFF !important;
    background-color: #dac4c9  !important;
    border-bottom: 1px solid rgb(252, 249, 249) !important;
    
}

.h2,h2{
    padding: 2% !important;
}

.h5,h5{
    color: #000;
}

.navbar{
    border: 1px solid #FFFFFF;
}



.btn-primary2{
    background-color: white !important ; 
    color: #000 !important;
    border: none !important;
}

.content-carro{
    align-items: center !important;
    text-align: center !important;
    padding: 20% !important;
}
.content-carrito-icon{
    width: 80px;
    height: 80px;
}



.custom-modal-btn {
    background-color: #bda5a5 !important;
    border-color: #FFFFFF !important; 
}
.modal-header{
    background-color: #bda5a5;
    color: #FFFFFF;
}
.modal-body{
    background-color: #bda5a5;
    color: #FFFFFF;
}
.modal-footer{
    background-color: #bda5a5 !important;
}



.container-titulo{
    min-height: 8vh;
    align-items: center;
    text-align: center;
    width: auto;
}
.contenedor {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 55px !important;
    
}

.contenedor>p{
    padding: 5%;
    padding: 3%;
}





form{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 10px;
    justify-content:center;
    gap: 10px;
}

.form-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    border-top: 1px solid #ffffff;
    color: #ffffff;
    background-color: #ebd4da;
}


.campo{ 
    display: flex ;
    padding: 20px 50px;
    width: 45vh;
    align-items: center;
    height: 8vh;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    outline: none;
    color: #000;

}

.campo::placeholder{
    color:#dcd4d4;

}


.btn-2{
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #c18691;
    color: #FFFFFF;
    border-radius: 25px;
    border: 0;
    font-family: 'Bebas Neve', cursive;
    cursor: pointer;
    
}

.btn-2:hover{
    background-color: #f6e1e6;
}

.error{
   
    color: red;
   
}

.footer{
    border-top: 2px solid #E8E8E8;
    padding: 50px 0 0 0 ;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.footer-copy{
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #918a8a;
}
.footer-copy p{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




.link{
    width: 30%;
}
.link-img{
    text-align: center;
    width: 90%;
}
.socials-2 img{
    width: 50px;
    margin: 10px;
}
.link h3{
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}
.link a{
    font-size: 18px;
    display: flex;
    color: #000;
    margin-bottom: 20px;
}

.link a:hover{
    color: #d27d7d;
}



.btn-primary2{
    background-color: white !important ; 
    color: #000 !important;
    border: none !important;
}



@media (max-width: 768px) {  
    .carousel-inner {
        width: 100%;  
         
    }
}
@media (min-width: 992px) {  
    .carousel-inner {
        width: 80%;  
        height: 50vh;  
    }
}



.error{

    color: red;

}
