@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::after,
*::before,
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
   
} 

body{
    font-family: 'Times New Roman', Times, serif !important;
    background-color: #d0c4c4 !important;
    display: inline; 
    margin: 0 auto !important;
    max-width: 1200px !important;
    font-family: 'Lato';
    color: #333;

}

p{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 20px !important;
    color: #FFFFFF !important;
}



.h1,h1{
    
    font-size: 50px !important;
    line-height: 10vh !important;
    color: #FFFFFF !important;
    background-color: #a29090 !important;
    border-bottom: 3px solid rgb(252, 249, 249);
}


.custom-modal-btn {
    background-color: #a29090 !important;
    border-color: #FFFFFF !important; 
}




.container-titulo{
    min-height: 8vh;
    align-items: center;
    text-align: center;
    width: auto;
    

}


.contenedor{
    display: flex;
    text-align: center;
    align-items: center;
}



form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    gap: 10px;
    padding: 5%;
}

.campo{
    
  padding: 17px 35px;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-right: 15px;
  border: 1px solid #FFFFFF;
  outline: none;
  color: #000;
  width: 45%;
 
}

.campo::placeholder{
    color:#dcd4d4;

}
.content-carrito-icon{
    width: 80px;
    height: 80px;

}

.btn-2{
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #000;
    color: #FFFFFF;
    border-radius: 25px;
    border: 0;
    font-family: 'Bebas Neve', cursive;
    cursor: pointer;
    margin: 0px 20%;
}

.btn-2:hover{
    background-color: azure;
}

.content-dis {
   
    height: 60vh;
    margin: 153px;
    justify-content: center; 
    align-items: center; 
    background-color: #dfcae1;
    color: #FFFFFF;
    gap:20px;
    
}

  
.h4, h4 { 
    text-align: center;
    font-size: 35px !important;
    line-height: 10vh !important;
    color: #d0c4c4 !important;
    background-color: #FFFFFF !important;
    font-family: 'Times New Roman', Times, serif !important;
}

.h5,h5{
    color: #000;
}

.footer{
    border-top: 2px solid #E8E8E8;
    padding: 50px 0 0 0 ;
    display: flex;
    justify-content: center;
    background-color: #f0efeb;
  
}

.link{
    width: 30%;
}

.link-img{
    text-align: center;
    width: 90%;
}

.link-img img{
    width: 70px;
    margin-bottom: 10px;
}

.socials-2 img{
    width: 50px;
    margin: 10px;
}

.link h3{
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}

.link a{
    font-size: 18px;
    display: flex;
    color: #000;
    margin-bottom: 20px;
}

.link a:hover{
    color: #FFFFFF;
}

.footer-copy{
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #918a8a;
}

.footer-copy p{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-carro{
    align-items: center !important;
    text-align: center !important;
    padding: 20% !important;
   

}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

header{
    height: 15vh;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
 position: relative ;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000;
    color: #FFFFFF;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}


.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #FFFFFF;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.form-content{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    border-top: 1px solid #FFFFFF;

}

.navbar{
    border: 3px solid #FFFFFF;
}

.contenedor>p{
    padding: 5%;
}

@media(max-width: 500px){
    .contenedor{
        flex-direction: column;
    }

}

@media (max-width: 768px) {  
    .carousel-inner {
        width: 100%;  
         
    }
}

@media (min-width: 992px) {  
    .carousel-inner {
        width: 80%;  
        height: 50vh;  
    }
}