@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::after,
*::before,
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Times New Roman', Times, serif !important;
    display: inline;
    background-color: #d0c4c4 !important;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}



img{
    max-width: 100%;
}

header{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0;
    border-bottom: 1px solid rgb(249, 245, 245);
    margin: 15px;
}

.hidder-cart{
    display: none;
}


.container-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap:20px;
    padding: 5%;
}

.item{
    border-radius:  10px;
    max-width: 33-33%;
    box-sizing: border-box;
   
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}



.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius:  10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}


.item:hover img{
    transform: scale(1.2);

}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.btn-2{
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #000;
    color: #FFFFFF;
    border-radius: 25px;
    border: 0;
    font-family: 'Bebas Neve', cursive;
    cursor: pointer;
    margin: 0px 20%;
}

.btn-2:hover{
    background-color: azure;
}

.footer{
    border-top: 2px solid #E8E8E8;
    padding: 50px 0 0 0 ;
    display: flex;
    justify-content: center;
    background-color: #f0efeb;
}

.h5,h5{
    color: #000;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link{
    width: 30%;
}

.link-img{
    text-align: center;
}

.link-img img{
    width: 70px;
    margin-bottom: 10px;
}

.socials-2 img{
    width: 50px;
    margin: 10px;
}

.link h3{
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}

.link a{
    font-size: 18px;
    display: flex;
    color: #000;
    margin-bottom: 20px;
}

.link a:hover{
    color: #FFFFFF;
}

.footer-copy{
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #918a8a;
}

.footer-copy p{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}

.campo{
    
    padding: 17px 35px;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin-right: 15px;
    border: 1px solid #FFFFFF;
    outline: none;
    color: #000;
    width: 45%;
   
}
  
.campo::placeholder{
    color:#dcd4d4;
  
}

.form-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    border-top: 1px solid #ffffff;
    color: #ffffff;
}

.navbar{
    border: 3px solid #FFFFFF;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content:center;
    gap: 10px;
}