@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::after,
*::before,
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 


body{
    font-family: 'Times New Roman', Times, serif !important;
    background-color: #d1bcc0 !important;
    display: inline; 
    margin: 0 auto !important;
    max-width: 1200px !important;
    font-family: 'Lato';
    color: #333;
}


p{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 20px !important;
    color: #fff !important;
}



.h1,h1{
    
    font-size: 50px !important;
    line-height: 10vh !important;
    color: #FFFFFF !important;
    background-color: #d1bcc0  !important;
    border-bottom: 3px solid rgb(252, 249, 249);
}

.h5,h5{
    color: #000;
}



.navbar{
    border: 3px solid #FFFFFF;
}




.content-carro{
    align-items: center !important;
    text-align: center !important;
    padding: 20% !important;
}

.content-carrito-icon{
    width: 80px;
    height: 80px;
}



.custom-modal-btn {
    background-color: #d1bcc0 !important;
    border-color: #FFFFFF !important; 
}

.modal-header{
    background-color: #d1bcc0;
    color: #FFFFFF;
}

.modal-body{
    background-color: #d1bcc0;
    color: #FFFFFF;
}

.modal-footer{
    background-color: #d1bcc0 !important;
}



.container-titulo{
    min-height: 8vh;
    align-items: center;
    text-align: center;
    width: auto;
}

.contenedor{
    display: flex;
    text-align: center;
    align-items: center;
}

.contenedor>p{
    padding: 5%;
}







.btn-2{
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #d4b3b9;
    color: #ffffff;
    border-radius: 25px;
    border: 0;
    font-family: 'Bebas Neve', cursive;
    cursor: pointer;
    margin: 0px 20%;
}

.btn-2:hover{
    background-color: #000;
}




.footer{
    border-top: 2px solid #E8E8E8;
    padding: 50px 0 0 0 ;
    display: flex;
    justify-content: center;
    background-color: #f0efeb;
}

.footer-copy{
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #918a8a;
}

.footer-copy p{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




.link{
    width: 30%;
}

.link-img{
    text-align: center;
    width: 90%;
}

.socials-2 img{
    width: 50px;
    margin: 10px;
}

.link h3{
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}

.link a{
    font-size: 18px;
    display: flex;
    color: #000;
    margin-bottom: 20px;
}

.link a:hover{
    color: #bb7373;
}



.btn-primary2{
    background-color: white !important ; 
    color: #000 !important;
    border: none !important;
}

.btn-primary{
    --bs-btn-border-color: #000 !important;
}

@media (max-width: 768px) {  
    .carousel-inner {
        width: 100%;  
         
    }
}

@media (min-width: 992px) {  
    .carousel-inner {
        width: 80%;  
        height: 50vh;  
    }
}






@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::after,
*::before,
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Times New Roman', Times, serif !important;
    display: inline;
    background-color: #d1bcc0 !important;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}


h1{
    color: #FFFFFF !important;
    
    border-bottom: 1px solid rgb(249, 245, 245);
    margin: 50px;
}


.h5,h5{
    color: #000;
}



.navbar{
    border: 1px solid #FFFFFF;
}



img{
    max-width: 100%;
}


.hidder-cart{
    display: none;
}


.container-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap:20px;
    padding: 5%;
}

.item{
    border-radius:  10px;
    max-width: 33-33%;
    box-sizing: border-box;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius:  10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);

}









.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}








form{
    display: flex;
    flex-wrap: wrap;
    width:  100%;
    justify-content:center;
    gap: 20px;
    padding: 5%;
}

.form-content{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    border-top: 1px solid #FFFFFF;
    
}

label {
    
    align-content: center;
}

.campo{ 
    display: flex ;
    padding: 20px 50px;
    width: 45vh;
    align-items: center;
    height: 8vh;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    outline: none;
    color: #000;
    flex-direction: column ;
    
    
}

.campo::placeholder{
    color:#dcd4d4;
  
}

.error{
   
    color: red;
   
}