
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::after,
*::before,
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 


body{
    font-family: 'Times New Roman', Times, serif !important;
    background-color: #ebd4da !important;
    display: inline; 
    margin: 0 auto !important;
    max-width: 1200px !important;
    font-family: 'Lato';
    color: #333;
}


p{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 20px !important;
    color: #fff !important;
}

.h1,h1{
   
    border-bottom: 1px solid rgb(249, 245, 245); 
    font-size: 35px !important;
    line-height: 10vh !important;
    color: #FFFFFF !important;
    background-color: #dac4c9 !important;
    padding: 25px !important;
    
}

.h2,h2{
    padding: 2% !important;
}

.h5,h5{
    color: #000;
}

.navbar{
    border: 3px solid #FFFFFF;
}

.content-carrito-icon{
    width: 80px;
    height: 80px;
    ALIGN-CONTENT: space-evenly;
}


.modal-header{
    background-color: #d1bcc0;
    color: #FFFFFF;
}

.modal-body{
    background-color: #d1bcc0;
    color: #FFFFFF;
}

.modal-footer{
    background-color: #d1bcc0 !important;
}

.modal-title {
    background-color:#d1bcc0 !important ;
    border-bottom: 1px solid #d1bcc0;
}

.btn{
    --bs-btn-hover-border-color: #fff !important
}


.navbar{
    border: 1px solid #FFFFFF;
}

.card-text{
    font-size: 18px !important;
    font-weight: 900 !important;
    color: #000 !important;
    padding: 5px !important;

}

.card-title{
    
    line-height: 2 !important;
    padding: 5px !important;
}

figure {
    margin: 0 0 0rem !important;
}

.card{
    border-radius: 10px;
    overflow: hidden;

}

.card figure{
    
    overflow: hidden;

}

.card img{
    transition: all .5s;
    
    
}

.card:hover{
    
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
}

.card:hover img{
    
    transform: scale(1.2);
}

.card button{
  
    border-radius: 0%  !important;
    background: none !important;
    background-color: #000 !important;
    color: #FFFFFF !important;
    padding: 15px 10px !important;
    cursor: pointer !important;
    height: 50px !important;
    margin: 20px !important;
    width: 340px !important;

}

.btn-primary{
    --bs-btn-border-color: #000 !important;
    --bs-btn-hover-border-color: #fff !important
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 10px;
    justify-content:center;
    gap: 10px;
}

.form-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    border-top: 1px solid #ffffff;
    color: #ffffff;
}


.campo{ 
    display: flex ;
    padding: 20px 50px;
    width: 45vh;
    align-items: center;
    height: 8vh;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    outline: none;
    color: #000;

}

.campo::placeholder{
    color:#dcd4d4;
  
}

.btn-2{
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #c18691;
    color: #FFFFFF;
    border-radius: 25px;
    border: 0;
    font-family: 'Bebas Neve', cursive;
    cursor: pointer;
    
}

.btn-2:hover{
    background-color: #000;
}

.error{
   
    color: red;
   
}

.footer{
    border-top: 2px solid #E8E8E8;
    padding: 50px 0 0 0 ;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.footer-copy{
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #918a8a;
}

.footer-copy p{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link{
    width: 30%;
}

.link-img{
    text-align: center;
    width: 90%;
}

.socials-2 img{
    width: 50px;
    margin: 10px;
}

.link h3{
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}

.link a{
    font-size: 18px;
    display: flex;
    color: #000;
    margin-bottom: 20px;
}

.link a:hover{
    color: #bb7373;
}
