@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::after,
*::before,
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 


body{
    font-family: 'Times New Roman', Times, serif !important;
    background-color: #d1bcc0 !important;
    display: inline; 
    margin: 0 auto !important;
    max-width: 1200px !important;
    font-family: 'Lato';
    color: #333;
}


p{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 20px !important;
    color: #fff !important;
}

.h1,h1{
    color: #FFFFFF !important;
    border-bottom: 1px solid rgb(249, 245, 245);
    margin: 50px;
    font-size: 50px !important;
    line-height: 10vh !important;
    color: #FFFFFF !important;
    background-color: #d1bcc0  !important;
    
}

.h2,h2{
    padding: 2% !important;
}

.h5,h5{
    color: #000;
}

.navbar{
    border: 3px solid #FFFFFF;
}

.content-carrito-icon{
    width: 80px;
    height: 80px;
}

.modal-header{
    background-color: #d1bcc0;
    color: #FFFFFF;
}

.modal-body{
    background-color: #d1bcc0;
    color: #FFFFFF;
}

.modal-footer{
    background-color: #d1bcc0 !important;
}

.btn-2{
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #cda0a8;
    color: #FFFFFF;
    border-radius: 25px;
    border: 0;
    font-family: 'Bebas Neve', cursive;
    cursor: pointer;
}

.btn-2:hover{
    background-color: #000;
}

.footer{
    border-top: 2px solid #E8E8E8;
    padding: 50px 0 0 0 ;
    display: flex;
    justify-content: center;
    background-color: #f0efeb;
}

.footer-copy{
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #918a8a;
}

.footer-copy p{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link{
    width: 30%;
}

.link-img{
    text-align: center;
    width: 90%;
}

.socials-2 img{
    width: 50px;
    margin: 10px;
}

.link h3{
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}

.link a{
    font-size: 18px;
    display: flex;
    color: #000;
    margin-bottom: 20px;
}

.link a:hover{
    color: #bb7373;
}

.btn-primary{
    --bs-btn-border-color: #000 !important;
}


.navbar{
    border: 1px solid #FFFFFF;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 10px;
    justify-content:center;
    gap: 10px;
}

.form-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    border-top: 1px solid #ffffff;
    color: #ffffff;
}


.campo{ 
    display: flex ;
    padding: 20px 50px;
    width: 45vh;
    align-items: center;
    height: 8vh;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    outline: none;
    color: #000;

}

.campo::placeholder{
    color:#dcd4d4;
  
}

.error{
   
    color: red;
   
}